/node_modules
/public/build
/vendor
/.env
/.env.backup
/storage/*.key
/storage/logs/*.log
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
test_*.php
