numpy==1.26.4
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
torch==2.3.1
torchaudio==2.3.1
soundfile==0.12.1
transformers==4.44.2
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
